/* You can add global styles to this file, and also import other style files */

/* .req{
    display: block;
    color:rgb(240, 11, 11);
    font-size: 13px;
    position: relative;
    left:30px;
}
.star{
    color:red;
    display: block;
    position: relative;
    left: 10px;
    top:8px
}
.form-control{
    display: inline;
    height: 40px;
   
} */
/* label::after{
    content: "*";
    color: red;
}
input.ng-touched.ng-invalid  {
    border:red 1px solid;
}

.errormsg{
    color:red;
    font-size: 14px;
    position: relative;
    left: 10px;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
